/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2015, 9:21:54 PM
    Author     : SULAIMAN
*/

.errorMsg{
    color: red;
    font-family: sans-serif;
}
fieldset { 
    border:none;
}
legend {
    font-size:18px;
    margin:0px; 
    padding:10px 0px; 
    color:#b0232a; 
    font-weight:bold;
}
label { 
    display:block; 
    margin:15px 0 5px;
}
input[type=text], input[type=password] {
    padding:5px; 
    border:solid 1px #000;
}
.prev, .next { 
    background-color:#b0232a;
    padding:5px 10px; 
    color:#fff; 
    text-decoration:none;
}
.prev:hover, .next:hover {
    background-color:#000;
    text-decoration:none;
}
.prev { 
    float:left;
}
.next {
    float:right;
}
#steps { 
    list-style:none;
    width:100%; 
    overflow:hidden;
    margin:0px;
    padding:0px;
}
#steps li {
    font-size:24px;
    float:left; 
    padding:10px; 
    color:#b0b1b3;
}
#steps li span {
    font-size:11px; 
    display:block;
}
#steps li.current { 
    color:#000;
}
#makeWizard { 
    background-color:#b0232a; 
    color:#fff; 
    padding:5px 10px;
    text-decoration:none; 
    font-size:18px;
}
#makeWizard:hover { 
    background-color:#000;
}